@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.txt-black {
    color: #111;
}

.bg-white {
    background-color: #fafafa;
}

.border {
    border: 1px solid #111;
    border-radius: 25px;
}

.main {
    width: calc(100% - 20px);
    gap: 60px;
    margin: 0 auto;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-profile {
    gap: 20px;
    margin: 60px auto 0;
}

.main-profile-picture img {
    width: 100px;
    border-radius: 50px;
}

.main-profile-info {
    gap: 12px;
}

.main-profile-info h1 {
    font-size: 2.25rem;
}

.main-profile-info h2 {
    font-size: 1rem;
}

.main-links {
    width: 300px;
    height: 300px;
    justify-content: center;
}

.main-links button {
    width: 160px;
    height: 40px;
    font-size: 1.5rem;
    margin: 10px 0;
    cursor: pointer;
    transition: .3s;
}

.main-links button:hover {
    background-color: #111;
    color: #fafafa;
    transform: scale(1.1);
    transition: .3s;
}